{% extends "layout.html" %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">CODE!</h1>
    <p class="lead">
      Puedes encntrarme en estas redes sociales, recuerda "Si puedes imaginarlo
      puedes programarlo" :D
    </p>
  </div>
</div>
<div class="p-1">
  <footer>
    <a href="https://github.com/"
      ><img src="https://img.icons8.com/fluent/48/000000/github.png"
    /></a>
    <a href=""
      ><img src="https://img.icons8.com/ios/50/000000/instagram-new.png"
    /></a>
  </footer>
</div>
{% endblock %}
